.dark {
  --background: rgb(34, 40, 49);
  --color: #fff;
  --div-color: rgb(57, 62, 70);
  --shadow: rgba(0, 173, 181, 0.5);
}

body {
  background-color: var(--background);
  color: var(--color);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: grid;
  grid-template-rows: 250px auto;
  padding: 0 1.2em;
}
.header {
  text-align: center;
  display: grid;
}
.text {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.text h1 {
  margin-bottom: 0;
  font-size: 3rem;
  letter-spacing: 1.5px;
}
.text p {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2em;
  letter-spacing: 1px;
}
input {
  outline: none;
  padding: 0.8em 1.8em;
  width: 60vw;
  font-size: 1rem;
  border: none;
  border-radius: 1em;
  font-size: 1.2rem;
  box-shadow: 0 0 5px rgba(78, 78, 78, 0.5);
  /* box-shadow: 0 5px 5px var(--shadow); */
}
.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1em;
}
.emoji {
  background-color: var(--div-color);
  padding: 0 0.2em 0.2em 0.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0 0 5px rgba(78, 78, 78, 0.5);
}
.emoji p:nth-child(1) {
  margin-bottom: 0;
  margin-top: 0.5em;
}
#symbol {
  font-size: 30px;
}
#title {
  font-size: 14px;
  font-weight: bold;
}
@media (min-width: 600px) {
  .App {
    /* background-color: purple; */
    padding: 0 5em;
  }
  .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
@media (min-width: 1200px) {
  .App {
    padding: 0 10em;
  }
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 3em;
  }
  input {
    width: 50vw;
  }
  .text h1 {
    margin-top: 1.5em;
  }
}
#toogle{
position: absolute;
right: 1em;
top: .6em;
font-size: 1.5em;
cursor: pointer;
}
